<nav class="navbar navbar-expand-lg navbar-light bg-info">
     <LinkTo @route="application" class="ml-2">
          <span class="navbar-brand h1">Inicio</span>
     </LinkTo>


      <LinkTo @route="search" class="ml-2">
          <span class="navbar-item h6">Busqueda</span>
      </LinkTo>


    <LinkTo @route="about" class="ml-2">
        <span class="navbar-item h6 ml-2">About</span>
    </LinkTo>





</nav>